// body
//   background: $brand
@mixin shadow
  filter: drop-shadow(5px 5px 5px rgba(45,45,45,.5))
  -webkit-filter: drop-shadow(5px 5px 5px rgba(45,45,45,.5))
  -moz-filter: drop-shadow(5px 5px 5px rgba(45,45,45,.5))
  -ms-filter: drop-shadow(5px 5px 5px rgba(45,45,45,.5))
