/*Navigation */
.navbar-ruca {
  background: #353535;
  border: none;
  border-radius: 0;
  min-height: 85px; }
  .navbar-ruca .navbar-brand {
    color: #fff;
    padding-top: 33px;
    padding-bottom: 33px;
    font-size: 20px;
    text-transform: uppercase; }

.navbar-nav > li {
  margin-right: 5px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    padding-top: 33px;
    padding-bottom: 32px; }

.active {
  background: #9050a0; }

.navbar-nav > li > a:hover, .navbar-nav > li > a.login:hover {
  background: #a76db6;
  color: #fff; }

.fa-bars {
  color: #fff; }

.navbar-toggle {
  padding-top: 22px; }

.dropdown > a.login {
  padding-left: 40px;
  padding-right: 40px;
  background: #c7c7c7;
  color: #353535; }

.navbar-right {
  margin-right: -20px; }

.quote-btn {
  width: 400px;
  height: 120px;
  margin: 20px auto; }

.quote-btn section {
  width: 50%;
  height: 80px;
  float: left; }

.quote-btn section:first-child:before {
  background: rgba(0, 0, 0, 0.4);
  content: "";
  position: absolute;
  height: 50px;
  width: 170px;
  margin-left: 120px;
  /*box-shadow */
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); }

.quote-btn section h1 {
  margin-top: 15px;
  overflow: hidden;
  width: 70px;
  color: #fff;
  text-transform: capitalize; }

.quote-btn section article {
  position: absolute;
  height: 50px;
  width: 100px;
  background: #9050a0;
  /*transition */
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms;
  text-align: center; }

.quote-btn section article h2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(http://i.imgur.com/vIIhi.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 6px;
  text-indent: -9999px;
  cursor: pointer; }

.quote-btn section:first-child article h2:nth-child(2) {
  background-position: -40px 0; }

.quote-btn section:last-child article h2:nth-child(1) {
  background-position: -80px 0; }

.quote-btn section:last-child article h2:nth-child(2) {
  background-position: -120px 0; }

.quote-btn section:first-child article:first-child {
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

.quote-btn section:first-child article:first-child h1 {
  float: right;
  font-weight: 400;
  font-size: 20px; }

.quote-btn section:last-child article:first-child {
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.quote-btn section:last-child article:first-child h1 {
  text-indent: -6px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 300; }

.quote-btn section:first-child article:last-child {
  background: #0f0;
  margin-left: 150px;
  /*transform */
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9050a0), color-stop(100%, #532e5c));
  /* Chrome,Safari4+ */
  /*linear-gradient */
  background: -webkit-gradient(linear, left top, right top, color-stop(#9050a0, 0), color-stop(#532e5c, 1));
  /* Chrome10+,Safari5.1+ */ }

.quote-btn section:last-child article:last-child {
  background: #0ff;
  /*transform */
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  margin-left: -50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #532e5c), color-stop(100%, #9050a0));
  /* Chrome,Safari4+ */
  /*linear-gradient */
  background: -webkit-gradient(linear, left top, right top, color-stop(#532e5c, 0), color-stop(#9050a0, 1));
  /* Chrome10+,Safari5.1+ */ }

.quote-btn section:first-child article:first-child {
  margin-left: 100px; }

.quote-btn:hover section:first-child article:first-child {
  /*transform */
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
  margin-left: 60px; }

.quote-btn:hover section:last-child article:first-child {
  /*transform */
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  margin-left: 40px; }

.quote-btn:hover section:first-child article:last-child {
  /*transform */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  margin-left: 110px;
  background: #9050a0; }

.quote-btn:hover section:last-child article:last-child {
  /*transform */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  margin-left: 0;
  background: #9050a0; }

/*!
 * fullPage 2.8.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1 */
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; }
  .fp-controlArrow .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul #fp-nav ul li,
  #fp-nav ul .fp-slidesNav ul li,
  .fp-slidesNav ul #fp-nav ul li,
  .fp-slidesNav ul .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul #fp-nav ul li #fp-nav ul li a,
    #fp-nav ul #fp-nav ul li .fp-slidesNav ul li a,
    #fp-nav ul .fp-slidesNav ul li #fp-nav ul li a,
    #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li a,
    .fp-slidesNav ul #fp-nav ul li #fp-nav ul li a,
    .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li a,
    .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li a,
    .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul #fp-nav ul li #fp-nav ul li a #fp-nav ul li a.active span,
      #fp-nav ul #fp-nav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span,
      #fp-nav ul #fp-nav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span,
      #fp-nav ul #fp-nav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span,
      #fp-nav ul .fp-slidesNav ul li #fp-nav ul li a #fp-nav ul li a.active span,
      #fp-nav ul .fp-slidesNav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span,
      #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span,
      #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span,
      .fp-slidesNav ul #fp-nav ul li #fp-nav ul li a #fp-nav ul li a.active span,
      .fp-slidesNav ul #fp-nav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span,
      .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span,
      .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span,
      .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li a #fp-nav ul li a.active span,
      .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span,
      .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span,
      .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul #fp-nav ul li #fp-nav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        #fp-nav ul #fp-nav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span,
        #fp-nav ul #fp-nav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        #fp-nav ul #fp-nav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span,
        #fp-nav ul .fp-slidesNav ul li #fp-nav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        #fp-nav ul .fp-slidesNav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span,
        #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul #fp-nav ul li #fp-nav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul #fp-nav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li a #fp-nav ul li a.active span .fp-slidesNav ul li a.active span,
        .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a.active span .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul #fp-nav ul li #fp-nav ul li a #fp-nav ul li a span,
      #fp-nav ul #fp-nav ul li #fp-nav ul li a .fp-slidesNav ul li a span,
      #fp-nav ul #fp-nav ul li .fp-slidesNav ul li a #fp-nav ul li a span,
      #fp-nav ul #fp-nav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a span,
      #fp-nav ul .fp-slidesNav ul li #fp-nav ul li a #fp-nav ul li a span,
      #fp-nav ul .fp-slidesNav ul li #fp-nav ul li a .fp-slidesNav ul li a span,
      #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li a #fp-nav ul li a span,
      #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a span,
      .fp-slidesNav ul #fp-nav ul li #fp-nav ul li a #fp-nav ul li a span,
      .fp-slidesNav ul #fp-nav ul li #fp-nav ul li a .fp-slidesNav ul li a span,
      .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li a #fp-nav ul li a span,
      .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a span,
      .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li a #fp-nav ul li a span,
      .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li a .fp-slidesNav ul li a span,
      .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li a #fp-nav ul li a span,
      .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li a .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: #333;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul #fp-nav ul li #fp-nav ul li:hover a span,
    #fp-nav ul #fp-nav ul li .fp-slidesNav ul li:hover a span,
    #fp-nav ul .fp-slidesNav ul li #fp-nav ul li:hover a span,
    #fp-nav ul .fp-slidesNav ul li .fp-slidesNav ul li:hover a span,
    .fp-slidesNav ul #fp-nav ul li #fp-nav ul li:hover a span,
    .fp-slidesNav ul #fp-nav ul li .fp-slidesNav ul li:hover a span,
    .fp-slidesNav ul .fp-slidesNav ul li #fp-nav ul li:hover a span,
    .fp-slidesNav ul .fp-slidesNav ul li .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav #fp-nav.right {
    right: 17px; }
  #fp-nav #fp-nav.left {
    left: 17px; }
  #fp-nav #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer; }
    #fp-nav #fp-nav ul li .fp-tooltip #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/*# sourceMappingURL=fullPage.sass.map */
body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  background: #353535;
  color: #fff; }

h1 {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center; }

h2 {
  color: #9050a0;
  font-weight: 100;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center; }

p {
  color: #fff;
  font-size: 20px;
  text-transform: none;
  padding: 10px; }

/*Home */
.main-logo {
  display: flex;
  margin: 0 auto;
  padding-top: 130px;
  position: relative;
  width: 100%;
  max-width: 448px; }

.btn-ruca {
  margin: 40px auto;
  padding: 20px 50px;
  border-radius: 50px;
  border: 5px solid #9050a0;
  color: #fff;
  display: block;
  font-size: 20px;
  position: relative;
  max-width: 250px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .btn-ruca:hover {
    background-color: #a76db6;
    color: #fff;
    -webkit-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.9));
    -moz-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.9));
    -o-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.9)); }

/*Services */
.header {
  padding: 30px;
  width: 100%;
  background: #363636;
  /*margin-top: 50px; */ }

.service-image {
  padding: 20px;
  color: #fff;
  font-size: 75px;
  margin: 0 auto;
  text-align: center; }

.service-text {
  text-align: center; }

#home {
  background: url("/static/images/background4.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#services {
  background: #353535; }

#about {
  background: url("http://nicenicejpg.com/1500/1200") no-repeat;
  background-size: cover;
  padding-top: 20px; }

.about {
  background: #fff; }

.about-text > p {
  color: #353535;
  padding-bottom: 50px; }

.about-image > img {
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px; }

/*Work */
#google_map {
  margin-top: 20px;
  height: 430px;
  margin-left: 15px;
  margin-right: 15px; }

.owl-item {
  overlow: hidden;
  position: relative; }

.image-wrap {
  text-align: center;
  position: relative; }
  .image-wrap a {
    color: white;
    position: relative;
    z-index: 2;
    transition: 0.3s; }
  .image-wrap:hover a {
    color: white;
    text-decoration: none; }
  .image-wrap img {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    transition: 0.3;
    overflow: hidden; }
  .image-wrap:hover img {
    opacity: 0.1;
    transition: 0.4s; }

.overlay {
  background: #9050a0;
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s; }
  .overlay > p {
    position: relative;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
