#home button {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  outline: none; }
  #home button:hover {
    background: rgba(144, 80, 160, 0.5); }
  #home button:active {
    background: rgba(144, 80, 160, 0.8); }

.nav a:hover, .navbar a:hover {
  background: rgba(144, 80, 160, 0.5); }
.nav a:active, .navbar a:active {
  background: rgba(144, 80, 160, 0.5); }

body {
  background: #9050a0; }

.fp-section {
  width: 100% !important;
  opacity: 0;
  filter: blur(10px);
  transition: all 0.5s ease-in-out; }

.ruca-logo {
  animation: logo 0.7s ease-out; }

.navbar-ruca {
  animation: logo 1s ease-out; }

.main-text {
  animation: header-text-and-button 0.7s ease-out; }

.main-cta {
  animation: header-text-and-button 1s ease-out; }

.fp-section.active {
  opacity: 1;
  filter: blur(0px); }
  .fp-section.active .white-container {
    animation: promise-box 0.8s;
    animation-direction: alternate; }

@keyframes promise-box {
  from {
    transform: scale(0.1);
    transform: translateX(300px);
    opacity: 1; }
  to {
    transform: scale(1);
    transform: translateX(0px);
    opacity: 1; } }
@keyframes logo {
  from {
    transform: scale(0.1);
    transform: translateY(-300px);
    opacity: 0; }
  to {
    transform: scale(1);
    transform: translateY(0px);
    opacity: 1; } }
@keyframes header-text-and-button {
  from {
    transform: scale(0.1);
    transform: translateY(300px);
    opacity: 0; }
  to {
    transform: scale(1);
    transform: translateY(0px);
    opacity: 1; } }
.navbar-ruca, .nav, .navbar-nav {
  background: rgba(45, 45, 45, 0.5);
  border-radius: 8px;
  border: 1px solid #fff;
  margin: 10px 5px 10px 5px; }
  .navbar-ruca a, .nav a, .navbar-nav a {
    color: #fff;
    font-size: 18px;
    font-family: italiana, open-sans;
    font-weight: bold;
    cursor: pointer; }

.fa-bars {
  color: #fff; }

#home {
  padding-top: 3em;
  background-image: url("../../images/Hero.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #home h1 {
    color: #fff;
    font-size: 50px;
    font-family: italiana, open-sans;
    filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -webkit-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -moz-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -ms-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5)); }
  #home img {
    margin-bottom: 150px;
    max-width: 400px;
    width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -webkit-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -moz-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -ms-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5)); }
  #home button {
    background: rgba(45, 45, 45, 0.5);
    border: solid 1px #fff;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 75px;
    font-family: italiana, open-sans;
    font-weight: bold; }

@media screen and (max-width: 350px) {
  #home button {
    margin-top: 10px; } }
@media screen and (max-width: 480px) {
  #home img {
    margin-bottom: 0; }
  #home h1 {
    font-size: 30px; }
  #home button {
    font-size: 25px; } }
@media screen and (max-height: 900px) {
  #home img {
    margin-bottom: 0; }
  #home h1 {
    font-size: 30px; }
  #home button {
    font-size: 25px; } }
#services {
  background-image: url("../../images/placing_tiles.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #services i {
    color: #9050a0; }
  #services h1, #services h2 {
    font-family: italiana, open-sans;
    font-weight: bold; }
  #services h1 {
    font-size: 80px; }

.white-container {
  padding: 40px;
  background: #fff;
  filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
  -webkit-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
  -moz-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
  -ms-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5)); }
  .white-container p {
    font-size: 18px; }

/*# sourceMappingURL=main.css.map */
