.home button {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  outline: none; }
  .home button:hover {
    background: rgba(144, 80, 160, 0.5); }
  .home button:active {
    background: rgba(144, 80, 160, 0.8); }

.navbar-ruca > li > a:hover {
  background: #9050a0; }

body {
  background: #9050a0; }

.white {
  background: #fff; }

.fp-section {
  width: 100% !important;
  opacity: 0;
  filter: blur(10px);
  transition: all 0.5s ease-in-out; }

.ruca-logo {
  animation: logo 0.7s ease-out; }

.navbar-ruca {
  animation: logo 1s ease-out; }

.main-text {
  animation: header-text-and-button 0.7s ease-out; }

.main-cta {
  animation: header-text-and-button 1s ease-out; }

.fp-section.active {
  opacity: 1;
  filter: blur(0px); }
  .fp-section.active .white-container {
    animation: promise-box 0.8s;
    transform: translateX(300px);
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards; }

@keyframes promise-box {
  from {
    transform: scale(0.1);
    transform: translateX(300px);
    opacity: 1; }
  to {
    transform: scale(1);
    transform: translateX(0px);
    opacity: 1; } }
@keyframes logo {
  from {
    transform: scale(0.1);
    transform: translateY(-300px);
    opacity: 0; }
  to {
    transform: scale(1);
    transform: translateY(0px);
    opacity: 1; } }
@keyframes header-text-and-button {
  from {
    transform: scale(0.1);
    transform: translateY(300px);
    opacity: 0; }
  to {
    transform: scale(1);
    transform: translateY(0px);
    opacity: 1; } }
.home {
  padding-top: 3em;
  background-image: url("../../images/Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .home h1 {
    color: #fff;
    font-size: 50px;
    font-family: italiana, open-sans;
    filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -webkit-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -moz-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -ms-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5)); }
  .home img {
    margin-bottom: 150px;
    max-width: 400px;
    width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -webkit-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -moz-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
    -ms-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5)); }
  .home button {
    background: rgba(45, 45, 45, 0.5);
    border: solid 1px #fff;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 75px;
    font-family: italiana, open-sans;
    font-weight: bold; }

@media screen and (max-width: 350px) {
  .home button {
    margin-top: 10px; } }
@media screen and (max-width: 480px) {
  .home img {
    margin-bottom: 0; }
  .home h1 {
    font-size: 30px; }
  .home button {
    font-size: 25px; } }
@media screen and (max-height: 900px) {
  .home img {
    margin-bottom: 0; }
  .home h1 {
    font-size: 30px; }
  .home button {
    font-size: 25px; } }
.services {
  background-image: url("../../images/placing_tiles.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .services i {
    color: #9050a0; }
  .services h1, .services h2 {
    font-family: italiana, open-sans;
    font-weight: bold; }
  .services h1 {
    font-size: 8rem; }

.white-container {
  padding: 40px;
  background: #fff;
  filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
  -webkit-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
  -moz-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5));
  -ms-filter: drop-shadow(5px 5px 5px rgba(45, 45, 45, 0.5)); }
  .white-container p {
    font-size: 18px; }

@media screen and (max-width: 480px) {
  .services h1 {
    font-size: 4rem; }
  .services h2 {
    font-size: 3rem; } }
.testimonials {
  background: #fff;
  display: flex; }
  .testimonials .testimonial-slide {
    max-width: 625px;
    padding: 50px;
    justify-content: center; }
    .testimonials .testimonial-slide img {
      border-radius: 50%;
      max-width: 300px; }
    .testimonials .testimonial-slide p {
      padding: 10px; }

.test-title {
  position: absolute;
  margin-top: 100px;
  width: 100%; }
  .test-title h1 {
    text-align: center;
    font-size: 10rem;
    font-family: italiana, open-sans;
    color: #9f9f9f; }

@media screen and (max-width: 480px) {
  .test-title {
    margin-top: 20px; }
    .test-title h1 {
      font-size: 6rem; }

  .testimonial-slide img {
    margin-bottom: 0px; } }
.navbar-ruca, .nav, .navbar-nav {
  background: rgba(45, 45, 45, 0.5);
  border-radius: 8px;
  border: 1px solid #fff;
  margin: 10px 5px 10px 5px;
  overflow: hidden; }
  .navbar-ruca li a, .nav li a, .navbar-nav li a {
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    color: #fff;
    font-size: 18px;
    font-family: italiana, open-sans;
    font-weight: bold;
    cursor: pointer; }
    .navbar-ruca li a:hover, .nav li a:hover, .navbar-nav li a:hover {
      background: rgba(144, 80, 160, 0.5); }
    .navbar-ruca li a:focus, .nav li a:focus, .navbar-nav li a:focus {
      background: rgba(144, 80, 160, 0.6); }

.fa-bars {
  color: #fff; }

/*# sourceMappingURL=main.css.map */
