.test-title
	width: 100%
	h1
		text-align: center
		font-size: 10rem
		font-family: italiana, open-sans
		color: #9f9f9f
		margin-bottom: 100px

.testimonial-wrap

	text-align: center
	position: relative
	p
		padding: 30px

@media screen and (max-width: 480px)
	.test-title
		h1
			margin-bottom: 20px
			font-size: 6rem
