#home
  background-image: image('../../images/background5.png')
  background-repeat: no-repeat
  background-size: cover
  h1
    color: #fff
    font-size: 50px
    font-family: italiana, open-sans
  img
    margin-bottom: 100px
