{% extends "index.html" %}
{% block content %}
<section id="home">
  <div class="container">
    <div class="jumbotron">
      <h1>Ruca Consulting</h1>
      <h2>This is your slogan<h2>
      <p><a class="btn btn-ruca">Get a Quote</a></p>
    </div>
  </div>
</section>
<section id="services">
  <div class="services">
          <h1>Our Services<h1>
  </div>
  <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <div class="service-image">
          <i class="fa fa-cogs fa-5" aria-hidden="true"></i>
          </div>
          <div class="service-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat.
            </p>
          </div>

        </div>
        <div class="col-sm-4">
          <div class="service-image">
          <i class="fa fa-truck fa-5" aria-hidden="true"></i>
          </div>
          <div class="service-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="service-image">
          <i class="fa fa-wrench fa-5" aria-hidden="true"></i>
          </div>
          <div class="service-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat.
            </p>
          </div>
        </div>

      </div>
  </div>
</section>
<section id="about">
  <div class="services">
          <h1>About Us<h1>
  </div>
  <div class="container">
          <div class="row">
          <div class="col-sm-4 col-sm-offset-4 about-image">
            <img src="http://fillmurray.com/300/300" alt="" />
          </div>
        </div>
          <div class="row">
          <div class="ol-sm-12 about-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat.
            </p>
            <p>
              Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat at erat quis dignissim. Aliquam commodo pharetra suscipit. Praesent mollis nulla hendrerit, dictum justo a, vulputate erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock %}
