<div class="section col-sm-12" data-anchor="work" id="page5">
		<div class="header">
			<h1>Our Work</h1>
		</div>
		<div class="container-fluid">
			<div class="work-carousel" id="work-carousel">
				<div class="image-wrap">
						<a data-toggle="modal" data-target="#workmodal1">
							<img src="/static/images/work1.jpg" alt="" />
						</a>
						<div class="overlay"><p>Joe Schmoe</span></div>
				</div>
				<div class="image-wrap">
						<a href="#">
							<img src="/static/images/work2.jpg" alt="" />
						</a>
						<div class="overlay"><p>Joe Schmoe</p></div>
				</div>
				<div class="image-wrap">
						<a href="#">
							<img src="/static/images/work3.jpg" alt="" />
						</a>
						<div class="overlay"><p>Joe Schmoe</p></div>
				</div>
				<div class="image-wrap">
						<a href="#">
							<img src="/static/images/work1.jpg" alt="" />
						</a>
						<div class="overlay"><p>Joe Schmoe</p></div>
				</div>
				<div class="image-wrap">
						<a href="#">
							<img src="/static/images/work2.jpg" alt="" />
						</a>
						<div class="overlay"><p>Joe Schmoe</p></div>
				</div>
				<div class="image-wrap">
						<a href="#">
							<img src="/static/images/work3.jpg" alt="" />
						</a>
						<div class="overlay"><p>Joe Schmoe</p></div>
				</div>
				<div class="image-wrap">
						<a href="#">
							<img src="http://fillmurray.com/400/400" alt="" />
						</a>
						<div class="overlay"><p>Joe Schmoe</p></div>
				</div>
			</div>
			<div class="row">
				<div id="google_map"></div>
			</div>
		</div>
	</div>
